*{
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: hsl(0, 0%, 5%);
    color: hsl(0, 0%, 100%);
}
#header{
    width: 100%;
    height: 100vh;
}
.container{
    padding: 10px 10%;
    color: white;
}
.frontimg{
    position: absolute;
    left: 0;
    top: 0px;
    background-image: url(header.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    z-index: -1;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#logo{
    width: 200px;
    margin-top: 6px;
}
.logoinfo{
    position: absolute;
    transform: translate(0px, 8px);
    width: 200px;
    opacity: 0;
    z-index: 2;
    display: flex;
    transition: opacity 0.25s;
    color: grey;
    text-align: center;
}
.logo:hover {
    width: 200px;
    cursor: pointer;
}
.logo:hover > .logoinfo{
    opacity: 100;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}
nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #37ffb0;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.headertext{
    margin-top: 25%;
    font-size: 20px;
}
.headertext h1{
    font-size: 96px;
    font-weight: 600;
}

.headertext h1 span{
    background: linear-gradient(75deg, #7258f8 10%, rgb(56, 255, 175) 90%);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
            background-clip: text;
}
.headertext p{
    color: hsl(0, 0%, 80%);
    font-weight: 500;
}
#about{
    padding: 80px 0;
    background-color: hsl(0, 0%, 10%);
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.aboutcol1{
    flex-basis: 35%;
}
.aboutcol1 img{
    width: 100%;
    border: 0.01px solid none;
    border-radius: 15%;
}
.aboutcol2{
    flex-basis: 60%;
}
.subtitle{
    font-size: 50px;
    font-weight: 600;
}
.finetext{
    font-size: 26px;
    color: hsl(0, 0%, 80%);
}
.tabtitles{
    display: flex;
    margin: 20px 0;
}
.tablinks {
    color: hsl(0, 0%, 100%);
    margin-right: 50px;
    font-size: 30px;
}
.tablinks {
    color: hsl(0, 0%, 100%);
    margin-right: 50px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tablinks::after{
    content: "";
    width: 0;
    height: 3px;
    background: #37ffb0;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.tablinks:hover::after{
    width: 33%;
}
.tablinks.active::after{
    width: 33%;
}
.tabcontent{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#educationcontent{
    display: none;
}
.content1{
    flex-basis: 45%;
}
.content2{
    flex-basis: 50%;
}
.tabcontent ul li{
    list-style: none;
    margin: 10px 0;
}
.tabcontent ul li span{
    color: #37ffb0;
    font-size: 14px;
}
.tabcontent ul li i{
    font-weight: 300;
    color: hsl(0, 0%, 75%);
}
#services{
    padding: 30px 0;
    background-color: hsl(0, 0%, 10%);
}
.serviceslist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.serviceslist div{
    background: hsl(0, 0%, 30%);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border: 1px solid none;
    border-radius: 25px;
    transition: background 0.5s, transform 0.5s, color 0.5s;
}
.serviceslist div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.serviceslist div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.serviceslist div a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    transition: color 0.5s;
}
.serviceslist div:hover{
    background: #37ffb0;
    transform: translateY(-10px);
    color:black;
}
.serviceslist div:hover > a{
    color:black;
}

#portfolio{
    padding: 40px 0;
    background-color: hsl(0, 0%, 10%);
}
.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    overflow: hidden;
    border: 1px solid none;
    border-radius: 25px;
    position: relative;
    transition: transform 0.5s;
    
}
.work img{
    width: 100%;
    border-radius: 25px;
    display: block;
}
.layer{
    width: 100%;
    height: 100%;
    position: absolute;
    background: hsla(0, 0%, 0%, 0.6);
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 40px;
    transition: background 0.5s;
}
.layer h3{
    margin-bottom: 15px;
}
.layer a{
    margin-top: 20px;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-size: 25px;
    line-height: 60px;
    background: hsla(0, 0%, 0%, 0.7);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: color 0.25s;
}
.work:hover{
    transform: translateY(-10px);
}
.work:hover > .layer{
    background: hsla(0, 0%, 0%, 0.4);
}
.layer a:hover{
    color: #37ffb0;
}
#contact{
    background-color: hsl(0, 0%, 0%);
    padding-top: 40px;

}

.contactleft{
    flex-basis: 35%;
}
.contactright{
    flex-basis: 60%;
}
.contactleft p{
    margin-top: 30px;
    flex-basis: 35%;
}
.contactleft p i{
    margin-right: 15px;
    color: #37ffb0;
    font-size: 25px;
}
.socialicons{
    margin-top: 30px;
}
.socialicons a{
    margin-right: 15px;
    font-size: 30px;
    color: hsl(0, 0%, 100%);
    transition: color 0.3s, transform 0.3s;
    display: inline-block;
    text-decoration: none;
}
.socialicons a:hover{
    color: #37ffb0;
    transform: translateY(-3px);

}
.btn{
    display: block;
    margin: 30px 30px auto 0px;
    width: fit-content;
    border: 2px solid #37ffb0;
    background: black;
    border-radius: 6px;
    padding: 14px 50px;
    text-decoration: none;
    color: white;
    transition: background 0.25s, color 0.25s;
    cursor: pointer;
}
.btn:hover{
    background: #37ffb0;
    color: black;
}
.btn.btn2{
    display: inline-block;
}
.contactright form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    margin: 15px 0;
    padding: 15px;
    font-size: 18px;
    border-radius: 6px;
    color: #ffffff;
    background: hsl(0, 0%, 30%);
}
.copyright{
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 30px 0;
}
.copyright > *{
    color: white;
}
#msg{
    color: green;
    display: block;
}

/* small screens */
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    .frontimg{
        background-image: url(headermobile.png);
    }
    .headertext{
        position: absolute;
        left: 0;
        bottom: 40%;
        width: 50%;
        padding-left: 25px;
    }
    .headertext h1{
        font-size: 45px;
        margin-top: 50;
    }
    .logo{
        position: relative;
        right: 10%;
    }
    .logo:active {
        width: 200px;
        cursor: pointer;
    }
    .logo:active > .logoinfo{
        opacity: 100;
    }
    nav .fa-solid{
        display: block;
        font-size: 27px;
    }
    nav ul{
        background-color:#37ffb0;
        position: fixed;
        top: 0;
        right: 0px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
        color:black;
    }
    nav ul li a{
        color:black;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px; 
        left: 25px;
        cursor: pointer;
    }
    .aboutcol1, .aboutcol2{
        flex-basis: 100%;
    }
    .aboutcol1{
        margin-bottom: 30px;
    }
    .aboutcol2 .finetext{
        font-size: 18px;
    }
    .tabtitles p{
        font-size: 18px;
    }
    .serviceslist div:active{
        background: #37ffb0;
        transform: translateY(-10px);
        color:black;
    }
    .serviceslist div:active > a{
        color:black;
    }
    .work:active{
        transform: translateY(-10px);
    }
    .work:active > .layer{
        background: hsla(0, 0%, 0%, 0.4);
    }
    .layer a:active{
        color: #37ffb0;
    }
    .contactleft, .contactright{
        flex-basis: 100%;
    }
    .contactleft .btn{
        margin: 30px auto;
    }
    .btn.btn2{
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .btn:active{
        background: #37ffb0;
        color: black;
    }
}